---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/directions/v2/route?from=Denver,CO&key=Gz2nGT8JjD4Wnj1f1V0G6QyFmB8E7aQT&to=Pueblo,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Transaction-Count:
      - all=3,geocoding=2,directions=1
      Etag:
      - W/"2899-gRnciHTBLV4Mg7cqeS4yprjsxxk"
    body:
      encoding: UTF-8
      string: '{"route":{"sessionId":"AIMA_v___wYAAQC8AAAAeNpj2MPAwMTAwMCekVqUapWcK8ppLA3kMiiYbN_BwWN1Msx0U5FTDDrNgAXATFCcMdMUxGc1-PiKgcf0_mzT_5tNo5Hpf0CaAQdQdy_SNmQEMpwFFDoaVBQ5WAQ8VRScGgXEQLINCIWMDCICIgwAF-YnuOr9IDI:car","realTime":6475,"distance":112.4309,"time":6008,"formattedTime":"01:40:08","hasHighway":true,"hasTollRoad":false,"hasBridge":true,"hasSeasonalClosure":false,"hasTunnel":false,"hasFerry":false,"hasUnpaved":false,"hasTimedRestriction":false,"hasCountryCross":false,"legs":[{"index":0,"hasTollRoad":false,"hasHighway":true,"hasBridge":true,"hasUnpaved":false,"hasTunnel":false,"hasSeasonalClosure":false,"hasFerry":false,"hasCountryCross":false,"hasTimedRestriction":false,"distance":112.4309,"time":6475,"formattedTime":"01:47:55","origIndex":0,"origNarrative":"","destIndex":0,"destNarrative":"","maneuvers":[{"index":0,"distance":0.0193,"narrative":"Head
        toward Cherokee St on W Colfax Ave (I-70-BL E). Go for 102 ft.","time":14,"direction":8,"directionName":"East","signs":[],"maneuverNotes":[],"formattedTime":"00:00:14","transportMode":"car","startPoint":{"lat":39.74001,"lng":-104.99202},"turnType":0,"attributes":0,"iconUrl":"","streets":["I-70-BL","US-40","US-287","W
        Colfax Ave"],"mapUrl":"https://www.mapquestapi.com/staticmap/v5/map?key=Gz2nGT8JjD4Wnj1f1V0G6QyFmB8E7aQT&size=225,160&locations=39.74001,-104.99202|marker-1||39.74001,-104.99166|marker-2||&center=39.74001,-104.99184&defaultMarker=none&zoom=16&session=AIMA_v___wYAAQC8AAAAeNpj2MPAwMTAwMCekVqUapWcK8ppLA3kMiiYbN_BwWN1Msx0U5FTDDrNgAXATFCcMdMUxGc1-PiKgcf0_mzT_5tNo5Hpf0CaAQdQdy_SNmQEMpwFFDoaVBQ5WAQ8VRScGgXEQLINCIWMDCICIgwAF-YnuOr9IDI:car"},{"index":1,"distance":0.4548,"narrative":"Make
        a U-Turn at Cherokee St onto W[...]
