---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/directions/v2/route?from=Denver,CO&key=Gz2nGT8JjD4Wnj1f1V0G6QyFmB8E7aQT&to=Pueblo,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Transaction-Count:
      - all=3,geocoding=2,directions=1
      Etag:
      - W/"2199-D0mSCYlmC89CkT1GAIpKCfUbZMk"
    body:
      encoding: UTF-8
      string: '{"route":{"sessionId":"AHgA_v___wYAAQCwAAAAeNpj2MDAwMTAwMCekVqUapWcK8ppLA3kMiiYbN_BwWN1Msx0U5FTDDrNgAXATFCcMdMUxGc1-PiKgcf0_mzT_5tNo5Hpf0CaAQeIbV0kfANIN3ixcATxCoCEHOCSDQwMXBxcAEL3JvSrHUw2:car","realTime":7074,"distance":113.6221,"time":5925,"formattedTime":"01:38:45","hasHighway":true,"hasTollRoad":false,"hasBridge":true,"hasSeasonalClosure":false,"hasTunnel":false,"hasFerry":false,"hasUnpaved":false,"hasTimedRestriction":false,"hasCountryCross":false,"legs":[{"index":0,"hasTollRoad":false,"hasHighway":true,"hasBridge":true,"hasUnpaved":false,"hasTunnel":false,"hasSeasonalClosure":false,"hasFerry":false,"hasCountryCross":false,"hasTimedRestriction":false,"distance":113.6221,"time":7074,"formattedTime":"01:57:54","origIndex":0,"origNarrative":"","destIndex":0,"destNarrative":"","maneuvers":[{"index":0,"distance":0.0193,"narrative":"Head
        toward Cherokee St on W Colfax Ave (I-70-BL E). Go for 102 ft.","time":16,"direction":8,"directionName":"East","signs":[],"maneuverNotes":[],"formattedTime":"00:00:16","transportMode":"car","startPoint":{"lat":39.74001,"lng":-104.99202},"turnType":0,"attributes":0,"iconUrl":"","streets":["I-70-BL","US-40","US-287","W
        Colfax Ave"],"mapUrl":"https://www.mapquestapi.com/staticmap/v5/map?key=Gz2nGT8JjD4Wnj1f1V0G6QyFmB8E7aQT&size=225,160&locations=39.74001,-104.99202|marker-1||39.74001,-104.99166|marker-2||&center=39.74001,-104.99184&defaultMarker=none&zoom=16&session=AHgA_v___wYAAQCwAAAAeNpj2MDAwMTAwMCekVqUapWcK8ppLA3kMiiYbN_BwWN1Msx0U5FTDDrNgAXATFCcMdMUxGc1-PiKgcf0_mzT_5tNo5Hpf0CaAQeIbV0kfANIN3ixcATxCoCEHOCSDQwMXBxcAEL3JvSrHUw2:car"},{"index":1,"distance":0.9861,"narrative":"Make
        a U-Turn at Cherokee St onto W Colfax Ave (I-[...]
