---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/directions/v2/route?from=denver,co&key=Gz2nGT8JjD4Wnj1f1V0G6QyFmB8E7aQT&to=pueblo,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Transaction-Count:
      - all=3,geocoding=2,directions=1
      Etag:
      - W/"2199-D0mSCYlmC89CkT1GAIpKCfUbZMk"
    body:
      encoding: UTF-8
      string: '{"route":{"sessionId":"AHgA_v___wYAAQCwAAAAeNpj2MDAwMTAwMCekVqUapWcK8ppLA3kMiiYbN_BwWN1Msx0U5FTDDrNgAXATFCcMdMUxGc1-PiKgcf0_mzT_5tNo5Hpf0CaAQeIbV0kfANIN3ixcATxCoCEHOCSDQwMXBxcAEL3JvSrHUw2:car","realTime":7074,"distance":113.6221,"time":5925,"formattedTime":"01:38:45","hasHighway":true,"hasTollRoad":false,"hasBridge":true,"hasSeasonalClosure":false,"hasTunnel":false,"hasFerry":false,"hasUnpaved":false,"hasTimedRestriction":false,"hasCountryCross":false,"legs":[{"index":0,"hasTollRoad":false,"hasHighway":true,"hasBridge":true,"hasUnpaved":false,"hasTunnel":false,"hasSeasonalClosure":false,"hasFerry":false,"hasCountryCross":false,"hasTimedRestriction":false,"distance":113.6221,"time":7074,"formattedTime":"01:57:54","origIndex":0,"origNarrative":"","destIndex":0,"destNarrative":"","maneuvers":[{"index":0,"distance":0.0193,"narrative":"Head
        toward Cherokee St on W Colfax Ave (I-70-BL E). Go for 102 ft.","time":16,"direction":8,"directionName":"East","signs":[],"maneuverNotes":[],"formattedTime":"00:00:16","transportMode":"car","startPoint":{"lat":39.74001,"lng":-104.99202},"turnType":0,"attributes":0,"iconUrl":"","streets":["I-70-BL","US-40","US-287","W
        Colfax Ave"],"mapUrl":"https://www.mapquestapi.com/staticmap/v5/map?key=Gz2nGT8JjD4Wnj1f1V0G6QyFmB8E7aQT&size=225,160&locations=39.74001,-104.99202|marker-1||39.74001,-104.99166|marker-2||&center=39.74001,-104.99184&defaultMarker=none&zoom=16&session=AHgA_v___wYAAQCwAAAAeNpj2MDAwMTAwMCekVqUapWcK8ppLA3kMiiYbN_BwWN1Msx0U5FTDDrNgAXATFCcMdMUxGc1-PiKgcf0_mzT_5tNo5Hpf0CaAQeIbV0kfANIN3ixcATxCoCEHOCSDQwMXBxcAEL3JvSrHUw2:car"},{"index":1,"distance":0.9861,"narrative":"Make
        a U-Turn at Cherokee St onto W Colfax Ave (I-[...]
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&key=a11e58ffc9ff43f1a8b162806240208&q=38.2542,-104.6091
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999941'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/06/2024 13:54:14'
      Cdn-Edgestorageid:
      - '1029'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 3847552e2d6118af748c88fed600c5de
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: UTF-8
      string: '{"location":{"name":"Pueblo","region":"Colorado","country":"United
        States of America","lat":38.25,"lon":-104.61,"tz_id":"America/Denver","localtime_epoch":1722952362,"localtime":"2024-08-06
        07:52"},"current":{"last_updated_epoch":1722951900,"last_updated":"2024-08-06
        07:45","temp_c":22.9,"temp_f":73.3,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":3.4,"wind_kph":5.4,"wind_degree":346,"wind_dir":"NNW","pressure_mb":1019.0,"pressure_in":30.08,"precip_mm":0.0,"precip_in":0.0,"humidity":56,"cloud":13,"feelslike_c":24.8,"feelslike_f":76.7,"windchill_c":22.9,"windchill_f":73.3,"heatindex_c":24.8,"heatindex_f":76.7,"dewpoint_c":13.1,"dewpoint_f":55.7,"vis_km":10.0,"vis_miles":6.0,"uv":6.0,"gust_mph":4.9,"gust_kph":7.9},"forecast":{"forecastday":[{"date":"2024-08-06","date_epoch":1722902400,"day":{"maxtemp_c":35.1,"maxtemp_f":95.1,"mintemp_c":20.5,"mintemp_f":68.9,"avgtemp_c":26.0,"avgtemp_f":78.8,"maxwind_mph":26.8,"maxwind_kph":43.2,"totalprecip_mm":1.32,"totalprecip_in":0.05,"totalsnow_cm":0.0,"avgvis_km":9.9,"avgvis_miles":6.0,"avghumidity":45,"daily_will_it_rain":1,"daily_chance_of_rain":90,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Patchy
        rain nearby","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png","code":1063},"uv":11.0},"astro":{"sunrise":"06:06
        AM","sunset":"08:02 PM","moonrise":"08:07 AM","moonset":"09:26 PM","moon_phase":"Waxing
        Crescent","moon_illumination":2,"is_moon_up":1,"is_sun_up":1},"hour":[{"time_epoch":1722924000,"time":"2024-08-06
        00:00","temp_c":22.7,"temp_f":72.9,"is_day":0,"condition":{"text":"Patchy
        rain nearby","icon":"//cdn.weatherapi.com/weather/64x64/night/176.png","code":1063},"wind_mph":18.6,"wind_kph":29.9,"wind_degree":314,"wind_dir":"NW","pressure_mb":1020.0,"pressure_in":30.11,"precip_mm":0.36,"precip_in":0.01,"snow_cm":0.0,"humidity":58,"cloud":84,"feelslike_c":24.8,"feelslike_f":76.7,"windchill_c":22.8,"windchill_f":73.0,"heatindex_c":24.8,"heatindex_f":76.7,"dewpoint_c":13.8,"dewpoint_f":56.8,"will_it_rain":1,"chance_of_rain":100,"will_it_snow":0,"chance_of_snow":0,"vis_km":9.0,"vis_miles":5.0,"gust_mph":25.3,"gust_kph":40.8,"uv":0},{"time_epoch":1722927600,"time":"2024-08-06
        01:00","temp_c":22.7,"temp_f":72.9,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":10.5,"wind_kph":16.9,"wind_degree":306,"wind_dir":"NW","pressure_mb":1019.0,"pressure_in":30.08,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":57,"cloud":18,"feelslike_c":24.8,"feelslike_f":76.6,"windchill_c":2[...]
