---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/directions/v2/route?from=denver,co&key=Gz2nGT8JjD4Wnj1f1V0G6QyFmB8E7aQT&to=pueblo,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Transaction-Count:
      - all=3,geocoding=2,directions=1
      Etag:
      - W/"2199-qMzOxQUWlSAH28HKdldBG2ZI+mg"
    body:
      encoding: UTF-8
      string: '{"route":{"sessionId":"AHgA_v___wYAAQCwAAAAeNpj2MDAwMTAwMCekVqUapWcK8ppLA3kMiiYbN_BwWN1Msx0U5FTDDrNgAXATFCcMdMUxGc1-PiKgcf0_mzT_5tNo5Hpf0CaAQeIbV0kfANIN3ixcATxCoCEHOCSDQwMXBxcAEL3JvSrHUw2:car","realTime":6323,"distance":113.6221,"time":5925,"formattedTime":"01:38:45","hasHighway":true,"hasTollRoad":false,"hasBridge":true,"hasSeasonalClosure":false,"hasTunnel":false,"hasFerry":false,"hasUnpaved":false,"hasTimedRestriction":false,"hasCountryCross":false,"legs":[{"index":0,"hasTollRoad":false,"hasHighway":true,"hasBridge":true,"hasUnpaved":false,"hasTunnel":false,"hasSeasonalClosure":false,"hasFerry":false,"hasCountryCross":false,"hasTimedRestriction":false,"distance":113.6221,"time":6323,"formattedTime":"01:45:23","origIndex":0,"origNarrative":"","destIndex":0,"destNarrative":"","maneuvers":[{"index":0,"distance":0.0193,"narrative":"Head
        toward Cherokee St on W Colfax Ave (I-70-BL E). Go for 102 ft.","time":13,"direction":8,"directionName":"East","signs":[],"maneuverNotes":[],"formattedTime":"00:00:13","transportMode":"car","startPoint":{"lat":39.74001,"lng":-104.99202},"turnType":0,"attributes":0,"iconUrl":"","streets":["I-70-BL","US-40","US-287","W
        Colfax Ave"],"mapUrl":"https://www.mapquestapi.com/staticmap/v5/map?key=Gz2nGT8JjD4Wnj1f1V0G6QyFmB8E7aQT&size=225,160&locations=39.74001,-104.99202|marker-1||39.74001,-104.99166|marker-2||&center=39.74001,-104.99184&defaultMarker=none&zoom=16&session=AHgA_v___wYAAQCwAAAAeNpj2MDAwMTAwMCekVqUapWcK8ppLA3kMiiYbN_BwWN1Msx0U5FTDDrNgAXATFCcMdMUxGc1-PiKgcf0_mzT_5tNo5Hpf0CaAQeIbV0kfANIN3ixcATxCoCEHOCSDQwMXBxcAEL3JvSrHUw2:car"},{"index":1,"distance":0.9861,"narrative":"Make
        a U-Turn at Cherokee St onto W Colfax Ave (I-[...]
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&key=a11e58ffc9ff43f1a8b162806240208&q=38.2542,-104.6091
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999945'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/06/2024 02:50:35'
      Cdn-Edgestorageid:
      - '1029'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - f0e3c85da2f5efcd8ef74f7d5d837c85
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: UTF-8
      string: '{"location":{"name":"Pueblo","region":"Colorado","country":"United
        States of America","lat":38.25,"lon":-104.61,"tz_id":"America/Denver","localtime_epoch":1722912543,"localtime":"2024-08-05
        20:49"},"current":{"last_updated_epoch":1722912300,"last_updated":"2024-08-05
        20:45","temp_c":26.5,"temp_f":79.7,"is_day":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":28.4,"wind_kph":45.7,"wind_degree":289,"wind_dir":"WNW","pressure_mb":1014.0,"pressure_in":29.95,"precip_mm":0.0,"precip_in":0.0,"humidity":48,"cloud":10,"feelslike_c":26.9,"feelslike_f":80.5,"windchill_c":26.5,"windchill_f":79.7,"heatindex_c":26.9,"heatindex_f":80.5,"dewpoint_c":13.1,"dewpoint_f":55.7,"vis_km":10.0,"vis_miles":6.0,"uv":6.0,"gust_mph":37.8,"gust_kph":60.9},"forecast":{"forecastday":[{"date":"2024-08-05","date_epoch":1722816000,"day":{"maxtemp_c":37.2,"maxtemp_f":98.9,"mintemp_c":22.4,"mintemp_f":72.3,"avgtemp_c":28.9,"avgtemp_f":84.0,"maxwind_mph":28.4,"maxwind_kph":45.7,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":31,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":11.0},"astro":{"sunrise":"06:05
        AM","sunset":"08:03 PM","moonrise":"07:06 AM","moonset":"09:03 PM","moon_phase":"Waxing
        Crescent","moon_illumination":0,"is_moon_up":1,"is_sun_up":1},"hour":[{"time_epoch":1722837600,"time":"2024-08-05
        00:00","temp_c":26.4,"temp_f":79.5,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":11.0,"wind_kph":17.6,"wind_degree":2,"wind_dir":"N","pressure_mb":1012.0,"pressure_in":29.9,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":34,"cloud":10,"feelslike_c":25.9,"feelslike_f":78.7,"windchill_c":26.4,"windchill_f":79.5,"heatindex_c":25.9,"heatindex_f":78.7,"dewpoint_c":8.9,"dewpoint_f":48.0,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":19.3,"gust_kph":31.0,"uv":0},{"time_epoch":1722841200,"time":"2024-08-05
        01:00","temp_c":25.3,"temp_f":77.5,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":8.9,"wind_kph":14.4,"wind_degree":330,"wind_dir":"NNW","pressure_mb":1012.0,"pressure_in":29.89,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":35,"cloud":5,"feelslike_c":25.3,"feelslike_f":77.6,"windchill_c":2[...]
