---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/directions/v2/route?from=New%20York,%20NY&key=Gz2nGT8JjD4Wnj1f1V0G6QyFmB8E7aQT&to=Los%20Angeles,%20CA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Transaction-Count:
      - all=3,geocoding=2,directions=1
      Etag:
      - W/"c81a-7ZzD4MIU+4XBiCRu+DlPdSEBFoE"
    body:
      encoding: UTF-8
      string: '{"route":{"sessionId":"ABIB_v___wYAAQAYAgAAeNpjkGBiYGJgYGDPSC1KtUrO7Z9UJgnkMnxOt6zn4LHKiveef-tzDIz2AdI7gDQDFgAzwfT_DykQnzEnRIKJZ77QK-1kZ_MIGL0DSDcBaQYc4GrOsrViPEAGh8NJBieFBgYNRgYGF7B5UBUKGg0MDJxAhgQHAwOLggKDggKQIQCSAhKCQDEGBSYmIIkJmJA5HAjmQZBiB7hoA5TdpICi2wHBBEoIMCJJNTACjeZIANvZwQwXxe5FAXRXcADNYwKSDnA3czCCfQFisqC43QHCYlICGc4hARRQVBCAyDFxANUi-ZAJzGYE-cFBAM0tMI8pIHzIBvGeQALE6Z0qDADEeTOZuS1KxQ:car","realTime":143145,"distance":2791.9245,"time":139713,"formattedTime":"38:48:33","hasHighway":true,"hasTollRoad":true,"hasBridge":true,"hasSeasonalClosure":false,"hasTunnel":true,"hasFerry":false,"hasUnpaved":false,"hasTimedRestriction":false,"hasCountryCross":false,"legs":[{"index":0,"hasTollRoad":true,"hasHighway":true,"hasBridge":true,"hasUnpaved":false,"hasTunnel":true,"hasSeasonalClosure":false,"hasFerry":false,"hasCountryCross":false,"hasTimedRestriction":false,"distance":2791.9245,"time":143145,"formattedTime":"39:45:45","origIndex":0,"origNarrative":"","destIndex":0,"destNarrative":"","maneuvers":[{"index":0,"distance":0.0516,"narrative":"Head
        toward Church St on Chambers St. Go for 272 ft.","time":24,"direction":2,"directionName":"Northwest","signs":[],"maneuverNotes":[],"formattedTime":"00:00:24","transportMode":"car","startPoint":{"lat":40.714532,"lng":-74.007119},"turnType":0,"attributes":0,"iconUrl":"","streets":["Chambers
        St"],"mapUrl":"https://www.mapquestapi.com/staticmap/v5/map?key=Gz2nGT8JjD4Wnj1f1V0G6QyFmB8E7aQT&size=225,160&locations=40.714532,-74.007119|marker-1||40.7149,-74.00797|marker-2||&center=40.714715999999996,-74.0075445&defaultMarker=none&zoom=16&session=ABIB_v___wYAAQAYAgAAeNpjkGBiYGJgYGDPSC1KtUrO7Z9UJgnkMnxOt6zn4LHKiveef-tzDIz2AdI7gDQDFgAzwfT_DykQnzEnRIKJZ77QK-1kZ_MIGL0DSDcBaQYc4GrOsrViPEAGh8NJBieFBgYNRgYGF7B5UBUKGg0MDJxAhgQHAwOLggKDggKQIQCSAhKCQDEGBSYmIIkJmJA5HAjmQZBiB7hoA5TdpICi2wHBBEoIMCJJNTACjeZIANvZwQwXx[...]
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&key=a11e58ffc9ff43f1a8b162806240208&q=40.71453,-74.00712
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999939'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/06/2024 14:04:46'
      Cdn-Edgestorageid:
      - '1029'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 41e008c48acbaca7e2b17d18d1ffc170
      Cdn-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"location":{"name":"New York","region":"New York","country":"United
        States of America","lat":40.71,"lon":-74.01,"tz_id":"America/New_York","localtime_epoch":1722952994,"localtime":"2024-08-06
        10:03"},"current":{"last_updated_epoch":1722952800,"last_updated":"2024-08-06
        10:00","temp_c":29.8,"temp_f":85.6,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":6.9,"wind_kph":11.2,"wind_degree":258,"wind_dir":"WSW","pressure_mb":1014.0,"pressure_in":29.93,"precip_mm":0.0,"precip_in":0.0,"humidity":54,"cloud":20,"feelslike_c":31.8,"feelslike_f":89.2,"windchill_c":29.8,"windchill_f":85.6,"heatindex_c":31.8,"heatindex_f":89.2,"dewpoint_c":19.5,"dewpoint_f":67.0,"vis_km":10.0,"vis_miles":6.0,"uv":7.0,"gust_mph":8.0,"gust_kph":12.9},"forecast":{"forecastday":[{"date":"2024-08-06","date_epoch":1722902400,"day":{"maxtemp_c":33.2,"maxtemp_f":91.7,"mintemp_c":23.3,"mintemp_f":73.9,"avgtemp_c":27.9,"avgtemp_f":82.1,"maxwind_mph":12.1,"maxwind_kph":19.4,"totalprecip_mm":10.6,"totalprecip_in":0.42,"totalsnow_cm":0.0,"avgvis_km":9.8,"avgvis_miles":6.0,"avghumidity":66,"daily_will_it_rain":1,"daily_chance_of_rain":91,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Moderate
        rain","icon":"//cdn.weatherapi.com/weather/64x64/day/302.png","code":1189},"uv":8.0},"astro":{"sunrise":"05:58
        AM","sunset":"08:05 PM","moonrise":"07:56 AM","moonset":"09:24 PM","moon_phase":"Waxing
        Crescent","moon_illumination":2,"is_moon_up":1,"is_sun_up":1},"hour":[{"time_epoch":1722916800,"time":"2024-08-06
        00:00","temp_c":27.6,"temp_f":81.7,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":9.6,"wind_kph":15.5,"wind_degree":219,"wind_dir":"SW","pressure_mb":1014.0,"pressure_in":29.94,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":62,"cloud":11,"feelslike_c":29.3,"feelslike_f":84.7,"windchill_c":27.6,"windchill_f":81.7,"heatindex_c":29.3,"heatindex_f":84.7,"dewpoint_c":19.4,"dewpoint_f":66.8,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":14.0,"gust_kph":22.5,"uv":0},{"time_epoch":1722920400,"time":"2024-08-06
        01:00","temp_c":27.2,"temp_f":80.9,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":9.2,"wind_kph":14.8,"wind_degree":228,"wind_dir":"SW","pressure_mb":1014.0,"pressure_in":29.94,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":66,"cloud":16,"feelslike_c":29.0,"feelslike_f":84.2,"windchill_c":2[...]
