---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/directions/v2/route?from=New%20York,%20NY&key=Gz2nGT8JjD4Wnj1f1V0G6QyFmB8E7aQT&to=Panama%20City,%20Panama
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Transaction-Count:
      - all=3,geocoding=2,directions=1
      Etag:
      - W/"763fb-f5DARy7+7ISVbO1PPsJ0xbjtGg4"
    body:
      encoding: UTF-8
      string: '{"route":{"sessionId":"ANQD_v___wYAAQBiBgAAeNp1VE1vG0UYfmf8Op2sjDS2VsgVHF5be9iUCkUKF3qaNWlwQg9uFFAPrUhKAwEJCThwzdgKksMFNyBOCKLQQ-gRcUCCQ04IOPADOCH-Qn9AeGZ21y4SjHZ3Zufj_Xie5x26v0SaiK4c7H-0f-Ot9z87-fgqfunJOy8fmtaN99587Zs_n9yt-1vof0RP_9FqC-_-cSdauLy8PKTW9aUPX_3qp3sbdX8T_fTnexv0P23tjcPNgxcxOP18LfXWCCVTpU8viBQR06zeJ0Re63IQm6Fu7Mfho-JTNT3_LM7CVoFPy7erRTyWdNOFX1_aM_UwttXKS9WsXdjz_8qA8e7O_z4o_bWqs6zk9YxkuW9ED5xmcjkOTDNDjC26SCcddzQ7v_VCp5BXyAn1EJk_5e_YNo07iybV1TUkVyCgPlk9fNr33SwhGrWdy9wY-VBfSbaR2VEZmC-xUg_zdIEOWe_qEds-HVsvI8acOF1Cw8CSJ4iec_x9PaG_0JVuo8WAhKrhEOauImsi_kNslIdhiH07Yc8RPGfWdLSlJmYFSxpZABuVi2kQQjEmWFSUKguCb85I2xWerftfttMCsCtfxq58J9056KtABdSR7W75zPpVj-0VpUEwHJKYAUVbxhna0axTKwLYLpAoNdZMTgWEupB3K9LtqK-x0hnT_c1tRO2sJ9cmtt7TFPFG-MxMrcNDBaVpA74gBDojuyfpcyAelCEzo2kPpwutgAlryv1o-0u6fU1VIjJjkcflWET48WBihSVa1nkAHLpUOawYemY1RQLnS7YXw0WsvW4UmaE7LaqIMdWrVZzgKFAJrNqQCnRnFDbwUNiaRggKMfoBMlRIWpE-d9rj4LdhOkZVFkKfznygVVFPge1iV6lFLUK4hrUYI37whQyQJo2fJx95RaRWJF46XFczMy2Xo2Z6AWt1tY6Z1u2jBwT9ahjha7CwTDl1uao7E9luAJIIfBHZCliwdDmk_6hFSgJpVduCM5PawIZV88L1TkVcgvKeTRuyKXZ6DAQ8FTyk1g-8EgTXDB5HvhbS-OnCO3MXSbAQwtAmpKq9a0gl_fLWsCqu0YMkhOnZQ32hQJx3rJSQBw1-fomY-b0WctLVTZYGyMPdJyOfFMknTLylbr-90Rz1ccf8ip3DjjYDFptYEAtqVydGT_1ApqSPaTC1PJaCe5k7EsB1Mgjkw5sVgGrsSo9PpN3bMZ3fXpqkZmIERXtFympZJl-EEibZKygZ0fW_OyrcAJ8iJQu1unxnP1RaT5cQ4f1esoke_f4PVfqwIZrpAJ0:car","realTime":283349,"distance":4441.0418,"time":276699,"formattedTime":"76:51:39","hasHighway":true,"hasTollRoad":true,"hasBridge":true,"hasSeasonalClosure":false,"hasTunnel":true,"hasFerry":false,"hasUnpaved":false,"hasTimedRestriction":false,"hasCountryCross":true,"legs":[{"index":0,"hasTollRoad":true,"hasHighway":true,"hasBridge":true,"hasUnpaved":false,"hasTunnel":true,"hasSeasonalClosure":false,"hasFerry":false,"hasCountryCross":true,"hasTimedRestriction":false,"distance":4441.0418,"time":283349,"formattedTime":"78:42:29","origIndex":0,"origNarrative":"","destIndex":0,"destNarrative":"","maneuvers":[{"index":0,"distance":0.0516,"narrative":"Head
        toward Church St on Chambers St. Go for 272 ft.","time":46,"direction":2,"directionName":"Northwest","signs":[],"maneuverNotes":[],"formattedTime":"00:00:46","transportMode":"car","startPoint":{"lat":40.714532,"lng":-74.007119},"turnType":0,"attributes":0,"iconUrl":"","streets":["Chambers
        St"],"mapUrl":"https://www.mapquestapi.com/staticmap/v5/map?key=Gz2nGT8JjD4Wnj1f1V0G6QyFmB8E7aQT&size=225,160&locations=40.714532,-74.007119|marker-1||40.7149,-74.00797|marker-2||&center=40.714715999999996,-74.0075445&defaultMarker=none&zoom=16&session=ANQD_v___wYAAQBiBgAAeNp1VE1vG0UYfmf8Op2sjDS2VsgVHF5be9iUCkUKF3qaNWlwQg9uFFAPrUhKAwEJCThwzdgKksMFNyBOCKLQQ-gRcUCCQ04IOPADOCH-Qn9AeGZ21y4SjHZ3Zufj_Xie5x26v0SaiK4c7H-0f-Ot9z87-fgqfunJOy8fmtaN99587Zs_n9yt-1vof0RP_9FqC-_-cSdauLy8PKTW9aUPX_3qp3sbdX8T_fTnexv0P23tjcPNg[...]
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&key=a11e58ffc9ff43f1a8b162806240208&q=8.95239,-79.53539
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999910'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/06/2024 20:51:20'
      Cdn-Edgestorageid:
      - '1069'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 0c3741b168e8f585bc4401cbc3515913
      Cdn-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"location":{"name":"Panama City","region":"Panama","country":"Panama","lat":8.95,"lon":-79.54,"tz_id":"America/Panama","localtime_epoch":1722977388,"localtime":"2024-08-06
        15:49"},"current":{"last_updated_epoch":1722977100,"last_updated":"2024-08-06
        15:45","temp_c":27.2,"temp_f":80.9,"is_day":1,"condition":{"text":"Light rain
        shower","icon":"//cdn.weatherapi.com/weather/64x64/day/353.png","code":1240},"wind_mph":4.5,"wind_kph":7.2,"wind_degree":185,"wind_dir":"S","pressure_mb":1009.0,"pressure_in":29.81,"precip_mm":0.98,"precip_in":0.04,"humidity":84,"cloud":75,"feelslike_c":31.1,"feelslike_f":88.0,"windchill_c":27.2,"windchill_f":80.9,"heatindex_c":31.1,"heatindex_f":88.0,"dewpoint_c":24.2,"dewpoint_f":75.6,"vis_km":10.0,"vis_miles":6.0,"uv":6.0,"gust_mph":7.9,"gust_kph":12.6},"forecast":{"forecastday":[{"date":"2024-08-06","date_epoch":1722902400,"day":{"maxtemp_c":27.9,"maxtemp_f":82.3,"mintemp_c":24.4,"mintemp_f":75.9,"avgtemp_c":25.8,"avgtemp_f":78.4,"maxwind_mph":6.3,"maxwind_kph":10.1,"totalprecip_mm":12.92,"totalprecip_in":0.51,"totalsnow_cm":0.0,"avgvis_km":9.7,"avgvis_miles":6.0,"avghumidity":89,"daily_will_it_rain":1,"daily_chance_of_rain":87,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Moderate
        rain","icon":"//cdn.weatherapi.com/weather/64x64/day/302.png","code":1189},"uv":11.0},"astro":{"sunrise":"06:10
        AM","sunset":"06:38 PM","moonrise":"07:52 AM","moonset":"08:23 PM","moon_phase":"Waxing
        Crescent","moon_illumination":2,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1722920400,"time":"2024-08-06
        00:00","temp_c":24.9,"temp_f":76.8,"is_day":0,"condition":{"text":"Partly
        Cloudy ","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":4.7,"wind_kph":7.6,"wind_degree":298,"wind_dir":"WNW","pressure_mb":1013.0,"pressure_in":29.9,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":93,"cloud":56,"feelslike_c":27.8,"feelslike_f":82.0,"windchill_c":24.9,"windchill_f":76.8,"heatindex_c":27.8,"heatindex_f":82.0,"dewpoint_c":23.6,"dewpoint_f":74.5,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":7.8,"gust_kph":12.5,"uv":0},{"time_epoch":1722924000,"time":"2024-08-06
        01:00","temp_c":24.8,"temp_f":76.7,"is_day":0,"condition":{"text":"Partly
        Cloudy ","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":5.1,"wind_kph":8.3,"wind_degree":307,"wind_dir":"NW","pressure_mb":1012.0,"pressure_in":29.88,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":93,"cloud":50,"feelslike_c":27.7,"feelslike_f":81.9,"[...]
