---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=Gz2nGT8JjD4Wnj1f1V0G6QyFmB8E7aQT&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"31d-UWl4xqMA+XoeHsC3eT5D4hq+shg"
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"© 2024 MapQuest, Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"©
        2024 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":39.74001,"lng":-104.99202},"displayLatLng":{"lat":39.74001,"lng":-104.99202},"mapUrl":""}]}]}'
  recorded_at: Tue, 06 Aug 2024 02:50:37 GMT
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&key=a11e58ffc9ff43f1a8b162806240208&q=39.74001,-104.99202
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999945'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/06/2024 02:49:49'
      Cdn-Edgestorageid:
      - '718'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 9e53e41212cdc434942b04357b6f66d8
      Cdn-Cache:
      - HIT
    body:
      encoding: UTF-8
      string: '{"location":{"name":"Denver","region":"Colorado","country":"United
        States of America","lat":39.74,"lon":-104.99,"tz_id":"America/Denver","localtime_epoch":1722912497,"localtime":"2024-08-05
        20:48"},"current":{"last_updated_epoch":1722912300,"last_updated":"2024-08-05
        20:45","temp_c":25.6,"temp_f":78.1,"is_day":0,"condition":{"text":"Patchy
        rain nearby","icon":"//cdn.weatherapi.com/weather/64x64/night/176.png","code":1063},"wind_mph":2.2,"wind_kph":3.6,"wind_degree":200,"wind_dir":"SSW","pressure_mb":1016.0,"pressure_in":30.01,"precip_mm":0.04,"precip_in":0.0,"humidity":40,"cloud":70,"feelslike_c":26.0,"feelslike_f":78.7,"windchill_c":25.6,"windchill_f":78.1,"heatindex_c":26.0,"heatindex_f":78.7,"dewpoint_c":11.4,"dewpoint_f":52.5,"vis_km":10.0,"vis_miles":6.0,"uv":6.0,"gust_mph":2.9,"gust_kph":4.6},"forecast":{"forecastday":[{"date":"2024-08-05","date_epoch":1722816000,"day":{"maxtemp_c":34.9,"maxtemp_f":94.8,"mintemp_c":23.8,"mintemp_f":74.9,"avgtemp_c":27.1,"avgtemp_f":80.8,"maxwind_mph":19.9,"maxwind_kph":32.0,"totalprecip_mm":2.31,"totalprecip_in":0.09,"totalsnow_cm":0.0,"avgvis_km":9.8,"avgvis_miles":6.0,"avghumidity":36,"daily_will_it_rain":1,"daily_chance_of_rain":88,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Patchy
        rain nearby","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png","code":1063},"uv":10.0},"astro":{"sunrise":"06:03
        AM","sunset":"08:08 PM","moonrise":"07:04 AM","moonset":"09:07 PM","moon_phase":"Waxing
        Crescent","moon_illumination":0,"is_moon_up":1,"is_sun_up":1},"hour":[{"time_epoch":1722837600,"time":"2024-08-05
        00:00","temp_c":24.8,"temp_f":76.6,"is_day":0,"condition":{"text":"Patchy
        rain nearby","icon":"//cdn.weatherapi.com/weather/64x64/night/176.png","code":1063},"wind_mph":4.9,"wind_kph":7.9,"wind_degree":283,"wind_dir":"WNW","pressure_mb":1014.0,"pressure_in":29.95,"precip_mm":0.02,"precip_in":0.0,"snow_cm":0.0,"humidity":45,"cloud":74,"feelslike_c":25.4,"feelslike_f":77.6,"windchill_c":24.8,"windchill_f":76.6,"heatindex_c":25.4,"heatindex_f":77.6,"dewpoint_c":11.3,"dewpoint_f":52.4,"will_it_rain":1,"chance_of_rain":72,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":6.6,"gust_kph":10.7,"uv":0},{"time_epoch":1722841200,"time":"2024-08-05
        01:00","temp_c":24.6,"temp_f":76.2,"is_day":0,"condition":{"text":"Partly
        Cloudy ","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":8.3,"wind_kph":13.3,"wind_degree":199,"wind_dir":"SSW","pressure_mb":1013.0,"pressure_in":29.91,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":43,"cloud":29,"feelslike_c":25.2,"feelslike_f":77.4[...]
