---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=Gz2nGT8JjD4Wnj1f1V0G6QyFmB8E7aQT&location=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"158-BSI//z022smqzxh3kgbjjXuTkNU"
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":400,"copyright":{"text":"© 2024 MapQuest, Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"©
        2024 MapQuest, Inc."},"messages":["Illegal argument from request: Insufficient
        info for location"]},"options":{"maxResults":-1,"ignoreLatLngInput":false},"results":[{"providedLocation":{},"locations":[]}]}'
  recorded_at: Tue, 06 Aug 2024 20:51:23 GMT
recorded_with: VCR 6.2.0
