---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&key=a11e58ffc9ff43f1a8b162806240208&q=39.74001,-104.99202
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999972'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/03/2024 15:25:58'
      Cdn-Edgestorageid:
      - '718'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 6dbcd90be92d6f0e08aedf023b8a2b69
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: UTF-8
      string: '{"location":{"name":"Denver","region":"Colorado","country":"United
        States of America","lat":39.74,"lon":-104.99,"tz_id":"America/Denver","localtime_epoch":1722698668,"localtime":"2024-08-03
        9:24"},"current":{"last_updated_epoch":1722698100,"last_updated":"2024-08-03
        09:15","temp_c":26.6,"temp_f":79.8,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":2.7,"wind_kph":4.3,"wind_degree":359,"wind_dir":"N","pressure_mb":1017.0,"pressure_in":30.04,"precip_mm":0.0,"precip_in":0.0,"humidity":32,"cloud":0,"feelslike_c":26.1,"feelslike_f":78.9,"windchill_c":26.6,"windchill_f":79.8,"heatindex_c":26.1,"heatindex_f":78.9,"dewpoint_c":8.2,"dewpoint_f":46.8,"vis_km":10.0,"vis_miles":6.0,"uv":7.0,"gust_mph":3.1,"gust_kph":5.0},"forecast":{"forecastday":[{"date":"2024-08-03","date_epoch":1722643200,"day":{"maxtemp_c":35.5,"maxtemp_f":95.9,"mintemp_c":21.6,"mintemp_f":70.9,"avgtemp_c":28.5,"avgtemp_f":83.2,"maxwind_mph":12.8,"maxwind_kph":20.5,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":29,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":10.0},"astro":{"sunrise":"06:01
        AM","sunset":"08:10 PM","moonrise":"04:53 AM","moonset":"08:13 PM","moon_phase":"Waning
        Crescent","moon_illumination":2,"is_moon_up":1,"is_sun_up":1},"hour":[{"time_epoch":1722664800,"time":"2024-08-03
        00:00","temp_c":24.1,"temp_f":75.4,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":5.8,"wind_kph":9.4,"wind_degree":328,"wind_dir":"NNW","pressure_mb":1019.0,"pressure_in":30.08,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":44,"cloud":8,"feelslike_c":25.1,"feelslike_f":77.2,"windchill_c":24.1,"windchill_f":75.4,"heatindex_c":25.1,"heatindex_f":77.2,"dewpoint_c":11.2,"dewpoint_f":52.2,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":7.6,"gust_kph":12.3,"uv":0},{"time_epoch":1722668400,"time":"2024-08-03
        01:00","temp_c":23.1,"temp_f":73.5,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":8.3,"wind_kph":13.3,"wind_degree":342,"wind_dir":"NNW","pressure_mb":1019.0,"pressure_in":30.1,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":50,"cloud":9,"feelslike_c":24.8,"feelslike_f":76.7,"windchill_c":23.[...]
