---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&key=a11e58ffc9ff43f1a8b162806240208&q=39.74001,-104.99202
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999964'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/05/2024 13:00:42'
      Cdn-Edgestorageid:
      - '718'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 479a6170a41e974c26545b6a9c1e43a7
      Cdn-Cache:
      - HIT
    body:
      encoding: UTF-8
      string: '{"location":{"name":"Denver","region":"Colorado","country":"United
        States of America","lat":39.74,"lon":-104.99,"tz_id":"America/Denver","localtime_epoch":1722862751,"localtime":"2024-08-05
        6:59"},"current":{"last_updated_epoch":1722861900,"last_updated":"2024-08-05
        06:45","temp_c":23.6,"temp_f":74.5,"is_day":1,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":2.7,"wind_kph":4.3,"wind_degree":218,"wind_dir":"SW","pressure_mb":1013.0,"pressure_in":29.92,"precip_mm":0.0,"precip_in":0.0,"humidity":42,"cloud":24,"feelslike_c":24.7,"feelslike_f":76.4,"windchill_c":23.6,"windchill_f":74.5,"heatindex_c":24.7,"heatindex_f":76.4,"dewpoint_c":9.4,"dewpoint_f":49.0,"vis_km":10.0,"vis_miles":6.0,"uv":1.0,"gust_mph":5.1,"gust_kph":8.3},"forecast":{"forecastday":[{"date":"2024-08-05","date_epoch":1722816000,"day":{"maxtemp_c":34.3,"maxtemp_f":93.8,"mintemp_c":21.3,"mintemp_f":70.3,"avgtemp_c":25.6,"avgtemp_f":78.1,"maxwind_mph":20.4,"maxwind_kph":32.8,"totalprecip_mm":3.26,"totalprecip_in":0.13,"totalsnow_cm":0.0,"avgvis_km":9.9,"avgvis_miles":6.0,"avghumidity":42,"daily_will_it_rain":1,"daily_chance_of_rain":79,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Patchy
        rain nearby","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png","code":1063},"uv":10.0},"astro":{"sunrise":"06:03
        AM","sunset":"08:08 PM","moonrise":"07:04 AM","moonset":"09:07 PM","moon_phase":"Waxing
        Crescent","moon_illumination":0,"is_moon_up":1,"is_sun_up":1},"hour":[{"time_epoch":1722837600,"time":"2024-08-05
        00:00","temp_c":24.8,"temp_f":76.6,"is_day":0,"condition":{"text":"Patchy
        rain nearby","icon":"//cdn.weatherapi.com/weather/64x64/night/176.png","code":1063},"wind_mph":4.9,"wind_kph":7.9,"wind_degree":283,"wind_dir":"WNW","pressure_mb":1014.0,"pressure_in":29.95,"precip_mm":0.02,"precip_in":0.0,"snow_cm":0.0,"humidity":45,"cloud":74,"feelslike_c":25.4,"feelslike_f":77.6,"windchill_c":24.8,"windchill_f":76.6,"heatindex_c":25.4,"heatindex_f":77.6,"dewpoint_c":11.3,"dewpoint_f":52.4,"will_it_rain":1,"chance_of_rain":72,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":6.6,"gust_kph":10.7,"uv":0},{"time_epoch":1722841200,"time":"2024-08-05
        01:00","temp_c":24.6,"temp_f":76.2,"is_day":0,"condition":{"text":"Partly
        Cloudy ","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":8.3,"wind_kph":13.3,"wind_degree":199,"wind_dir":"SSW","pressure_mb":1013.0,"pressure_in":29.91,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":43,"cloud":29,"feelslike_c":25.2,"feelslike_f":77.4[...]
