---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&key=a11e58ffc9ff43f1a8b162806240208&q=39.74001,-104.99202
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999941'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/06/2024 13:54:11'
      Cdn-Edgestorageid:
      - '718'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 7de67165b9dfa4700a04fd444cf38b8b
      Cdn-Cache:
      - HIT
    body:
      encoding: UTF-8
      string: '{"location":{"name":"Denver","region":"Colorado","country":"United
        States of America","lat":39.74,"lon":-104.99,"tz_id":"America/Denver","localtime_epoch":1722952359,"localtime":"2024-08-06
        07:52"},"current":{"last_updated_epoch":1722951900,"last_updated":"2024-08-06
        07:45","temp_c":22.2,"temp_f":71.9,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":3.4,"wind_kph":5.4,"wind_degree":183,"wind_dir":"S","pressure_mb":1019.0,"pressure_in":30.08,"precip_mm":0.0,"precip_in":0.0,"humidity":54,"cloud":5,"feelslike_c":24.6,"feelslike_f":76.2,"windchill_c":22.2,"windchill_f":71.9,"heatindex_c":24.6,"heatindex_f":76.2,"dewpoint_c":12.1,"dewpoint_f":53.8,"vis_km":10.0,"vis_miles":6.0,"uv":6.0,"gust_mph":4.3,"gust_kph":6.9},"forecast":{"forecastday":[{"date":"2024-08-06","date_epoch":1722902400,"day":{"maxtemp_c":35.6,"maxtemp_f":96.2,"mintemp_c":21.0,"mintemp_f":69.8,"avgtemp_c":26.8,"avgtemp_f":80.2,"maxwind_mph":15.0,"maxwind_kph":24.1,"totalprecip_mm":0.01,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":40,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":10.0},"astro":{"sunrise":"06:04
        AM","sunset":"08:07 PM","moonrise":"08:06 AM","moonset":"09:29 PM","moon_phase":"Waxing
        Crescent","moon_illumination":2,"is_moon_up":1,"is_sun_up":1},"hour":[{"time_epoch":1722924000,"time":"2024-08-06
        00:00","temp_c":21.5,"temp_f":70.6,"is_day":0,"condition":{"text":"Partly
        Cloudy ","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":11.9,"wind_kph":19.1,"wind_degree":199,"wind_dir":"SSW","pressure_mb":1020.0,"pressure_in":30.13,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":59,"cloud":50,"feelslike_c":21.5,"feelslike_f":70.6,"windchill_c":21.5,"windchill_f":70.6,"heatindex_c":23.2,"heatindex_f":73.8,"dewpoint_c":12.8,"dewpoint_f":55.0,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":15.5,"gust_kph":24.9,"uv":0},{"time_epoch":1722927600,"time":"2024-08-06
        01:00","temp_c":21.5,"temp_f":70.6,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":9.8,"wind_kph":15.8,"wind_degree":200,"wind_dir":"SSW","pressure_mb":1020.0,"pressure_in":30.11,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":60,"cloud":20,"feelslike_c":21.5,"feelslike_f":70.6,"windchill_c":[...]
