---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/directions/v2/route?from=New%20York,%20NY&key=Gz2nGT8JjD4Wnj1f1V0G6QyFmB8E7aQT&to=Los%20Angeles,%20CA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Transaction-Count:
      - all=3,geocoding=2,directions=1
      Etag:
      - W/"cfc8-7tkBcXWmfUo7JE0lPEDWhMPlJq4"
    body:
      encoding: UTF-8
      string: '{"route":{"sessionId":"ABIB_v___wYAAQAYAgAAeNpjkGBiYGJgYGDPSC1KtUrO7Z9UJgnkMnxOt6zn4LHKiveef-tzDIz2AdI7gDQDFgAzwfT_DykQnzEnRIKJZ77QK-1kZ_MIGL0DSDcBaQYcYOkUQSsxHiCDw8GZkaORgWkBCwODACNQgAWqomEB0MEqQEaCAlCmoYGhoQHIcABJAQkXoBhDAwcHkMQEHMgcBQSTRRjsYLgoE4TN0YSqnRHOagDaxYIsxQY0WqFBEGwCH1yUCasXHdBdoQA0jwPEEoSLsoB9AWIKoLqdEczi6AAZrpAAFGhtcIDIcSgA1SL5kAPMZmkAkY4MDG7Y_K6ACAQ2iLMEEiAe7FRhAAD_gzW0bW5Rbw:car","realTime":144182,"distance":2791.8922,"time":139695,"formattedTime":"38:48:15","hasHighway":true,"hasTollRoad":true,"hasBridge":true,"hasSeasonalClosure":false,"hasTunnel":true,"hasFerry":false,"hasUnpaved":false,"hasTimedRestriction":false,"hasCountryCross":false,"legs":[{"index":0,"hasTollRoad":true,"hasHighway":true,"hasBridge":true,"hasUnpaved":false,"hasTunnel":true,"hasSeasonalClosure":false,"hasFerry":false,"hasCountryCross":false,"hasTimedRestriction":false,"distance":2791.8922,"time":144182,"formattedTime":"40:03:02","origIndex":0,"origNarrative":"","destIndex":0,"destNarrative":"","maneuvers":[{"index":0,"distance":0.0516,"narrative":"Head
        toward Church St on Chambers St. Go for 272 ft.","time":46,"direction":2,"directionName":"Northwest","signs":[],"maneuverNotes":[],"formattedTime":"00:00:46","transportMode":"car","startPoint":{"lat":40.714532,"lng":-74.007119},"turnType":0,"attributes":0,"iconUrl":"","streets":["Chambers
        St"],"mapUrl":"https://www.mapquestapi.com/staticmap/v5/map?key=Gz2nGT8JjD4Wnj1f1V0G6QyFmB8E7aQT&size=225,160&locations=40.714532,-74.007119|marker-1||40.7149,-74.00797|marker-2||&center=40.714715999999996,-74.0075445&defaultMarker=none&zoom=16&session=ABIB_v___wYAAQAYAgAAeNpjkGBiYGJgYGDPSC1KtUrO7Z9UJgnkMnxOt6zn4LHKiveef-tzDIz2AdI7gDQDFgAzwfT_DykQnzEnRIKJZ77QK-1kZ_MIGL0DSDcBaQYcYOkUQSsxHiCDw8GZkaORgWkBCwODACNQgAWqomEB0MEqQEaCAlCmoYGhoQHIcABJAQkXoBhDAwcHkMQEHMgcBQSTRRjsYLgoE4TN0YSqnRHOagDaxYIsxQY0WqFBEGwCH1yUC[...]
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&key=a11e58ffc9ff43f1a8b162806240208&q=34.05223,-118.2426
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999910'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/06/2024 20:51:09'
      Cdn-Edgestorageid:
      - '1068'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - ecc2fe943428ad30937d0035bd65b1cf
      Cdn-Cache:
      - HIT
    body:
      encoding: UTF-8
      string: '{"location":{"name":"Los Angeles","region":"California","country":"United
        States of America","lat":34.05,"lon":-118.24,"tz_id":"America/Los_Angeles","localtime_epoch":1722977376,"localtime":"2024-08-06
        13:49"},"current":{"last_updated_epoch":1722977100,"last_updated":"2024-08-06
        13:45","temp_c":33.2,"temp_f":91.7,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":8.7,"wind_kph":14.0,"wind_degree":212,"wind_dir":"SSW","pressure_mb":1013.0,"pressure_in":29.9,"precip_mm":0.0,"precip_in":0.0,"humidity":29,"cloud":7,"feelslike_c":32.9,"feelslike_f":91.2,"windchill_c":33.1,"windchill_f":91.7,"heatindex_c":32.9,"heatindex_f":91.2,"dewpoint_c":13.5,"dewpoint_f":56.2,"vis_km":10.0,"vis_miles":6.0,"uv":8.0,"gust_mph":10.0,"gust_kph":16.2},"forecast":{"forecastday":[{"date":"2024-08-06","date_epoch":1722902400,"day":{"maxtemp_c":34.0,"maxtemp_f":93.3,"mintemp_c":23.6,"mintemp_f":74.5,"avgtemp_c":27.8,"avgtemp_f":82.0,"maxwind_mph":9.6,"maxwind_kph":15.5,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":45,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":11.0},"astro":{"sunrise":"06:08
        AM","sunset":"07:49 PM","moonrise":"08:08 AM","moonset":"09:18 PM","moon_phase":"Waxing
        Crescent","moon_illumination":2,"is_moon_up":1,"is_sun_up":1},"hour":[{"time_epoch":1722927600,"time":"2024-08-06
        00:00","temp_c":24.8,"temp_f":76.6,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":4.5,"wind_kph":7.2,"wind_degree":185,"wind_dir":"S","pressure_mb":1013.0,"pressure_in":29.91,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":54,"cloud":0,"feelslike_c":25.8,"feelslike_f":78.5,"windchill_c":24.8,"windchill_f":76.6,"heatindex_c":25.8,"heatindex_f":78.5,"dewpoint_c":14.6,"dewpoint_f":58.2,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":6.1,"gust_kph":9.8,"uv":0},{"time_epoch":1722931200,"time":"2024-08-06
        01:00","temp_c":24.5,"temp_f":76.1,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":2.0,"wind_kph":3.2,"wind_degree":189,"wind_dir":"S","pressure_mb":1013.0,"pressure_in":29.91,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":55,"cloud":22,"feelslike_c":25.6,"feelslike_f":78.1,"windchill_c":24.5,[...]
