---
http_interactions:
- request:
    method: get
    uri: https://openlibrary.org/search.json?limit=5&q=place:denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.034 TT 0 0.038"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 4,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "author_key": [
                        "OL1479109A"
                    ],
                    "author_name": [
                        "Lora Roberts"
                    ],
                    "cover_edition_key": "OL7565203M",
                    "cover_i": 4635641,
                    "ebook_access": "borrowable",
                    "ebook_count_i": 1,
                    "edition_count": 1,
                    "edition_key": [
                        "OL7565203M"
                    ],
                    "first_publish_year": 1996,
                    "has_fulltext": true,
                    "ia": [
                        "murdermilehighli00lora"
                    ],
                    "ia_collection": [
                        "inlibrary",
                        "internetarchivebooks",
                        "printdisabled"
                    ],
                    "ia_collection_s": "inlibrary;internetarchivebooks;printdisabled",
                    "isbn": [
                        "9780449149478",
                        "0449149471"
                    ],
                    "key": "/works/OL5960713W",
                    "language": [
                        "eng"
                    ],
                    "last_modified_i": 1695437077,
                    "lccn": [
                        "95090829"
                    ],
                    "lending_edition_s": "OL7565203M",
                    "lending_identifier_s": "murdermilehighli00lora",
                    "oclc": [
                        "34147004"
                    ],
                    "printdisabled_s": "OL7565203M",
                    "public_scan_b": false,
                    "publish_date": [
                        "January 31, 1996"
                    ],
                    "publish_year": [
                        1996
                    ],
                    "publisher": [
                        "Fawcett"
                    ],
                    "seed": [
                        "/books/OL7565203M",
                        "/works/OL5960713W",
                        "/authors/OL1479109A",
                        "/subjects/women_detectives",
                        "/subjects/fiction",
                        "/subjects/liz_sullivan_(fictitious_character)",
                        "/subjects/person:liz_sullivan",
                        "/subjects/place:palo_alto",
                        "/subjects/place:ca",
                        "/subjects/place:denver",
                        "/subjects/place:co",
                        "/subjects/time:1996"
                    ],
                    "title": "Murder Mile High (Liz Sullivan Mysteries)",
                    "title_suggest": "Murder Mile High (Liz Sullivan Mysteries)",
                    "title_sort": "Murder Mile High (Liz Sullivan Mysteries)",
                    "type": "work",
                    "id_goodreads": [
                        "1299974"
                    ],
                    "id_librarything": [
                        "424255"
                    ],
                    "subject": [
                        "Women detectives",
                        "Fiction",
                        "Liz Sullivan (Fictitious character)"
                    ],
                    "place": [
                        "Palo Alto",
                        "CA",
                        "Denver",
                        "CO"
                    ],
                    "time": [
                        "1996"
                    ],
                    "person": [
                        "Liz Sullivan"
                    ],
                    "readinglog_count": 3,
                    "want_to_read_count": 2,
                    "currently_reading_count": 0,
                    "already_read_count": 1,
                    "publisher_facet": [
                        "Fawcett"
                    ],
                    "person_key": [
                        "liz_sullivan"
                    ],
                    "time_facet": [
                        "1996"
                    ],
                    "place_key": [
                        "ca",
                        "co",
                        "denver",
                        "palo_alto"
                    ],
                    "person_facet": [
                        "Liz Sullivan"
                    ],
                    "subject_facet": [
                        "Fiction",
                        "Liz Sullivan (Fictitious character)",
                        "Women detectives"
                    ],
                    "_version_": 1795922909826383873,
                    "place_facet": [
                        "CA",
                        "CO",
                        "Denver",
                        "Palo Alto"
                    ],
                    "author_facet": [
                        "OL1479109A Lora Roberts"
                    ],
                    "subject_key": [
                        "fiction",
                        "liz_sullivan_(fictitious_character)",
                        "women_detectives"
                    ],
                    "time_key": [
                        "1996"
                    ]
                },
                {
                    "author_key": [
                        "OL1509731A"
                    ],
                    "author_name": [
                        "Lenora Mattingly Weber"
                    ],
                    "cover_edition_key": "OL25651789M",
                    "cover_i": 7322371,
                    "ebook_access": "no_ebook",
                    "ebook_count_i": 0,
                  [...]
